.header {
  text-align: end;
  @media (max-width: 500px) {
    width: 320px;
    margin: auto;
    margin-bottom: 25px;
  }
  .h1 {
    color: #1c2135;
    text-align: right;
    font-size: 76px;
    font-style: normal;
    font-weight: 800;
    line-height: 96px;
    margin-top: 20px;
    margin-bottom: 5px;

    @media (max-width: 500px) {
      width: 320px;
      text-align: right;
      font-size: 60.706px !important;
      font-style: normal;
      font-weight: 800;
      line-height: 50.824px; /* 138.462% */
    }
  }
}

.h2 {
  color: #1c2135;
  text-align: right;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;

  @media (max-width: 480px) {
    font-size: 30.529px;
    font-style: normal;
    font-weight: 800;
    line-height: 38.118px; /* 138.462% */
  }
}

.title {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 500px) {
    width: 320px;
    margin: auto;
  }
  .text {
    // display: none;
    text-align: end;
    color: #1c2135;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
    @media (max-width: 500px) {
      color: #1c2135;
      text-align: right;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      // line-height: 31.891px; /* 138.462% */
    }
  }
  .seeall {
    margin-left: 40px;
    color: #6f7e8f;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    z-index: 20;
    border: none;
    background: unset;

    @media (max-width: 500px) {
      color: #6f7e8f;
      text-align: right;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px; /* 222.222% */
      margin-left: 0;
    } /* 222.222% */
  }
}

.background {

     @media (max-width: 800px)    {
      display: none;
      
    }
  .line {
    position: absolute;
    border: 6px;
    right: 0;
    top: 200px;
    width: 330px;
    height: 872px;

    @media (max-width: 1000px)    {
      top: 351px;
      width: 300px;
      height: 852px;
      
    }

    @media (min-width: 1080px)  and (max-width: 1250px){

      top:442px;
      width: 230px;
      height: 772px;
    }
    @media (min-width: 1250px)  and (max-width: 1400px){

      top:442px;
      width: 230px;
      height: 772px;
      
    }

  }

 

  .dot_background_1 {
    position: absolute;
    width: 247px;
    height: 617px;
    top: 79px;
    left: 17%;
    transform: rotate(43.928deg);
  }

  .dot_background_2 {
    position: absolute;
    // left: 0;
    top: 130%;

    width: 247px;
    height: 617px;
    transform: rotate(-62.166deg);
    flex-shrink: 0;
  }

  .dot_background_3 {
    position: absolute;
    // right: 0;
    width: 247px;
    height: 617px;
    transform: rotate(-160.058deg);
    flex-shrink: 0;
    top: 190%;
  }
}

.red_line {
    position: absolute;
    width: 446px;
    height: 462px;
    bottom: -223px;
    left: -98px;

    // @media  (max-width: 1675px) {
    //   width: 646px;
    //   height: 662px;
      
    // }
    

    
    
    @media (max-width: 800px)    {
      display: none;
      
    }
  }


  .main {
    margin-left: 150px;
    margin-right: 150px;
    @media (min-width:1244px){

      
      max-width: 1400px;
      margin: auto !important;
    }
    
  
    @media (max-width: 1244px) {
      margin-left: 50px;
      margin-right: 50px;
      max-width: 1500px;
      margin: auto;
    }
  
    @media (max-width: 1080px) {
      margin: 0 100px;
    }
  
    @media (max-width: 950px) {
      margin: 0 50px;
  
    }
  
    @media (max-width: 950px) {
      margin: 0 50px;
  
    }
  
  
    @media (max-width: 600px) and (min-width: 500px) {
      margin: 0 5px;
  
    }
  
  
  }
