.background {
  .first_line {
    position: absolute;
    // height: 450% !important;
    // height: 3800px !important;
    // width: 100%;
    // object-fit: cover;
    // color: transparent;
    // top: 500px !important;

    position: absolute;
    height: 100%;
    width: 85% !important;
    object-fit: fill !important;
    top: -112px !important;
    max-width: 1200px !important;

    @media (max-width: 850px) {
      width: 100% !important;
      object-fit: cover !important;
    }
  }
}

.section {
  position: relative;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 50px;
  max-width: 1100px !important;
  margin: auto !important;
  // margin: 0 40px !important;
  position: relative;

  @media (max-width: 500px) {
    padding: 20px !important;
  }

  @media (min-width: 1500px) {
    padding: 50px 0 0 0;
    // margin: 0 50px;
  }

  > h1 {
    color: #1c2135;
    text-align: end;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    margin-bottom: 20px;
    @media (max-width: 500px) {
      margin-bottom: 0 !important;
    }
  }
}

.landing {
  width: 100%;
  background: #191e30;
  display: flex;
  position: relative;
  height: 550px;
  position: relative;
  z-index: 1;

  // @media (max-width: 600px) {
  //   height: calc(100vw + 550px);
  // }

  @media (max-width: 750px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: calc(100vw + 610px);
  }

  @media (min-width: 1300px) {
    height: 650px;
  }
  @media (min-width: 1500px) {
    height: 750px;
  }

  .background_pattern {
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
  }

  .student_img {
    position: relative;
    width: 51%;
    height: 100%;
    @media (max-width: 750px) {
      width: 100%;
      margin-right: auto;
      img {
        // width: 100vh !important;
        left: -70px !important;

        margin-top: auto;
        height: unset !important;
        width: 100%;
      }
    }

    @media (max-width: 1046px) and (min-width: 750px) {
      width: 100%;
      margin-right: auto;
      img {
        // width: 100vh !important;
        left: -70px !important;

        margin-top: auto;
        height: unset !important;
        width: 100%;
      }
    }
  }

  .header {
    position: relative;
    z-index: 10;
    padding-top: 35px;

    @media (max-width: 1046px) and (min-width: 750px) {
      padding-right: 50px;
    }
    @media (max-width: 600px) {
      padding: 30px;
    }

    h1 {
      color: #fff;
      text-align: right;
      font-size: 42px;
      font-style: normal;
      font-weight: 800;
      white-space: nowrap;
      margin-left: -116px;
      @media (max-width: 1046px) and (min-width: 750px) {
        font-size: 34px;
      }
      @media (max-width: 600px) {
        text-align: end !important;
        font-size: 28px;
        font-weight: 800;
        line-height: 30px; /* 125% */
        br {
          display: none;
        }
        white-space: normal;
      }

      @media (max-width: 750px) {
        text-align: center;
        margin-left: 0;
      }

      @media (min-width: 1300px) {
        font-size: 52px;
        padding-top: 4px;
        // line-height: 10px;
      }
      @media (min-width: 1500px) {
        font-size: 56px;
      }
    }
    p {
      color: #fff;
      text-align: right;
      font-size: 14px;
      font-style: normal;
      line-height: 26px;
      padding: 35px 0;

      @media (max-width: 600px) {
        text-align: end !important;
      }

      @media (max-width: 750px) {
        padding: 25px 0 !important;
        font-size: 18px !important;
        // font-weight: 500;
        line-height: 30px;
        font-size: 18px;
        text-align: center;
      }

      @media (max-width: 1046px) and (min-width: 750px) {
        // font-size: 34px;
        padding: 10px 0 !important;
      }
      @media (min-width: 1300px) {
        font-size: 18px;
        line-height: 30px;
        margin-top: 20px;
      }
      @media (min-width: 1500px) {
        font-size: 20px;
        margin-top: 40px;
      }
    }

    .action_btn {
      background: #ffb703;
      display: flex;
      margin-left: auto;

      position: relative;
      border-radius: 16px;
      z-index: 10;

      padding: 13px 30px;

      color: #fff;
      text-align: right;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; /* 133.333% */

      @media (max-width: 600px) {
      }

      @media (max-width: 750px) {
        padding: 15px 30px;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px;
        margin: auto;
      }
      @media (min-width: 1300px) {
        font-size: 20px;
        padding: 15px 30px;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 20px;

      @media (max-width: 750px) {
        flex-direction: column-reverse !important;
        // margin-top: 10px;
        justify-content: center;

        p {
          padding: 5px 0 !important;
          font-weight: 800;
          line-height: 30px;
        }
      }
      @media (min-width: 1300px) {
        margin-top: 40px;
      }
      p {
        font-size: 14px;
        padding: 0;
        margin: 0;
        @media (min-width: 1300px) {
          font-size: 16px;
        }
      }
      .profiles {
        display: flex;
        // width: 100px;
        margin-left: 20px;
        .avatar {
          img {
            position: relative !important;
            margin-left: -13px;
            right: 0;
            vertical-align: middle;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #3a86ff;
            // box-shadow: 0 0 10px #3a86ff;
          }
        }
      }
    }
  }
}

.courses {
  margin-top: 80px;
  width: 100%;
  @media (max-width: 650px) {
    margin-top: 0px;
  }
  > h1 {
    color: #1c2135;
    text-align: end;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    margin-bottom: 20px;

    @media (max-width: 650px) {
      font-size: 32px;
      line-height: unset;
      margin-bottom: 0;
    }
  }
  > h2 {
    color: #1c2135;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */

    @media (max-width: 650px) {
      font-size: 28px;
      line-height: unset;
    }
  }

  .tab_bar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    position: relative;

    @media (max-width: 650px) {
      margin-top: 20px;
    }

    .dropdown__btn {
      background: black !important;
      display: none !important;
    }

    nav {
      max-width: 830px;
      width: 100%;
      height: 70px;
      border-radius: 16px;
      border: 1px solid rgba(183, 239, 197, 0.26);
      background: #fff;
      box-shadow: 0px 0px 20px 0px #dee8f1;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 650px) {
        width: unset !important;
        border: 3px solid #f19b1a;
      }
      .mobile_version {
        display: none;

        @media (max-width: 650px) {
          width: 100%;
          height: 100%;
          display: block;
          color: #1c2135;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          padding: 0 30px;
        }
      }
      button {
        color: rgba(28, 33, 53, 0.83);
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
        padding: 0 30px;
        @media (max-width: 700px) {
          padding: 0 20px;
        }
        @media (max-width: 650px) {
          display: none;
        }
      }
    }
    .arrow {
      border-bottom: 10px solid #ffb703;
      width: 100px;
      border-radius: 50px;
      position: absolute;
      top: 50px;
      // left: 356px;
      // transition: left 0.3s ease-in-out;
      transition: margin-left 0.2s ease-in-out;
      @media (max-width: 650px) {
        margin-left: unset !important;
        top: 69px;
        left: 50% !important;
        transform: translate(-50%, -50%);
      }

      .pointer {
        position: absolute;
        top: 7px;
        /* left: 50%; */
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #ffb703;
        /* transform: 50%; */
        margin: auto;
        left: 40px;
      }
    }

    .description {
      max-width: 900px;
      background: #fff;
      // border: 1px solid #ffb703;
      border: 1px solid #f19b1a;
      // #f19b1a
      padding: 20px;

      border-radius: 16px;
      margin-top: -15px;
      // box-shadow: 0 0 10px #ffeed3, 0 0 20px #ffeed3, 0 0 30px #ffeed3;
      box-shadow: 0 0 10px #ffeed3, 0 0 20px #ffeed38f, 0 0 30px #ffeed32b;

      @media (max-width: 650px) {
        padding: 0 !important;
        // display: none;
        h1 {
          font-size: 18px !important;
        }
        p {
          font-size: 12px !important;
        }
      }
      div {
        background: #f7f0fe;
        padding: 30px 35px 35px 35px;
        border-radius: 20px;
        h1 {
          text-align: center;
          color: #1e2236;
          text-align: center;
          font-size: 42px;
          font-style: normal;
          font-weight: 700;
          line-height: 64px; /* 114.286% */
        }
        p {
          color: #1e2236;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 30px; /* 166.667% */
        }

        // display: fle;
      }
    }
  }
}
.carousel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
  justify-content: center;
  @media (max-width: 650px) {
    margin: 20px 0;
  }

  .carousel_descktop {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: center;

    @media (max-width: 650px) {
      display: none;
    }
  }

  .carousel_mobile {
    z-index: 0;
    height: 380px;
    display: none;

    @media (max-width: 650px) {
      display: flex;
      card {
        display: flex;
        margin: auto;
        justify-content: start !important ;
        .horizontal_divider {
          margin: unset !important;
        }
      }
    }
  }

  card {
    // display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin: 0 10px;
    flex: 1 0 216px; /* Flex properties: flex-grow, flex-shrink, flex-basis */
    max-width: 264px;
    margin-bottom: 20px;

    height: 339px;
    background: #1e2236;
    border-radius: 16px;

    h2 {
      color: #fff;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 116.667% */
      padding: 20px;
    }
    .horizontal_divider {
      border-bottom: 0.5px solid #8b90a9;
      width: 90%;
      margin: auto;
      border-radius: 100%;
    }

    ul {
      // padding: 20px;
      margin-top: 10px;
    }
    li {
      margin: 10px 20px;
      padding: 5px;
      list-style: none;
      background: #fff;
      width: fit-content;
      border-radius: 8px;
      display: flex;
      font-size: 14px;

      img {
        margin: 5px;
      }
    }

    .action_btn {
      color: #1e2236;
      text-align: right;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 100% */

      border-radius: 8px;
      background: #ffb703;

      bottom: 20px;
      margin-bottom: auto;
      position: absolute;

      left: 50%;
      translate: -50%;
      padding: 15px 20px;
      white-space: nowrap;
    }
  }
}

.banner {
  width: 100%;
  text-align: end;
  // margin-top: 100px;
  @media (max-width: 650px) {
    margin-top: 20px;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 650px) {
    .descktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
  .banner_img {
    position: relative;
    width: 100%;
    height: 300px;
  }
}

.carousel_swiper {
  article {
    max-width: 1100px;
    margin: auto;
    .mobile {
      display: none;
    }
    @media (max-width: 500px) {
      .mobile {
        display: block !important;
        margin: auto;
      }

      .descktop {
        display: none !important;
      }
    }
  }
}

.full_banner {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #191e30;
  height: 350px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  z-index: 1;
  .background_pattern {
    opacity: 0.2;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    height: unset;
    padding: 20px;
  }

  .img {
    position: relative;
    width: 300px;
    height: 400px;
    @media (max-width: 650px) {
      height: 250px;
    }
  }
  .description {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-left: 20px;
    @media (max-width: 650px) {
      align-items: center;
    }
    @media (min-width: 1080px) {
      margin-left: 130px;
    }

    h3 {
      color: #fff;
      text-align: right;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px; /* 122.222% */
      @media (max-width: 750px) {
        font-size: 20px;
      }
      @media (max-width: 650px) {
        text-align: center;
      }
    }
    span {
      margin-top: 15px;
      p {
        color: #fff;
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: 14px; /* 100% */
        @media (max-width: 650px) {
          text-align: center;
        }
      }
    }
  }
}

.showCast {
  position: relative;

  .line_bg2 {
    position: absolute;
    height: 2371px !important;
    width: 100%;
    top: -100px !important;
    object-fit: fill !important;
    max-width: 1500px !important;

    @media (max-width: 850px) {
      // object-fit: cover !important;
      display: none !important;
    }
  }

  > h1 {
    padding-top: 130px;
    padding-bottom: 20px;
    color: #1c2135;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
    @media (max-width: 850px) {
      padding-top: 50px;
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;

    &:nth-child(even) {
      flex-wrap: wrap-reverse;
    }
    @media (max-width: 650px) {
      &:nth-of-type(2) {
        .img {
          left: -39px !important;
          width: 550px !important;
        }
      }
      &:nth-of-type(4) {
        .img {
          overflow: hidden;
          img {
            left: 20px !important;
          }
        }
      }

      &:nth-of-type(5) {
        .img {
          overflow: hidden;
          img {
            left: 30px !important;
          }
        }
      }
    }

    @media (max-width: 850px) {
      margin-bottom: 60px;
    }

    .img {
      position: relative;
      // width: 519px;
      // height: 312px;

      max-width: 600px;
      min-width: 319px;
      height: 400px;
      width: 100%;

      @media (max-width: 1000px) and (min-width: 850px) {
        width: 450px;
      }
      @media (max-width: 500px) {
        height: 350px;
      }
    }

    .description {
      width: 400px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @media (max-width: 850px) {
        align-items: center;
      }

      @media (max-width: 500px) {
        width: 90%;
      }

      h1 {
        color: #000;
        text-align: right;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 75% */
        @media (max-width: 850px) {
          text-align: center;
          br {
            display: none;
          }
        }
      }

      P {
        color: #9fa4b9;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
        @media (max-width: 850px) {
          text-align: center;
        }
      }

      span {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        @media (max-width: 500px) {
          width: 100%;
          flex-direction: column;
        }
        button {
          padding: 10px 0px;
          width: 130px;
          border-radius: 8px;

          color: #fff;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 177.778% */

          @media (max-width: 500px) {
            width: 100%;
            border-radius: 16px;
            font-size: 18px;
          }
          &:first-of-type {
            // Set styles for the first button
            // background: #ffb703;
            border: 1px solid #1c213526;
            color: #1c2135;
          }

          &:last-of-type {
            // Set styles for the second button
            margin-left: 15px;
            background: #ffb703;
            @media (max-width: 500px) {
              margin-left: 0;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
