$font-color: (
  // "color-primary": #ffb703,
  "secondary": #ffb703,
  "dark": #1c2135,
  "white" : #FFF
);


$font-size: (
  "xl": #ffb703,
  "larg": #ffb703,
  "small": #1c2135,
  "xs": #1c2135
);

$fonst-Heebo :'__Heebo_bfc38a', '__Heebo_Fallback_bfc38a'