@mixin navigation_button {
  // background: yellow;

  z-index: 10;

  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 30px 5px #e6ebf0;
  width: 40px;
  height: 40px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: auto;
    justify-content: center;
    align-items: center;
  }
}

.swiper {
  position: relative;
  @media (max-width: 791px) {
    width: 100%;
  }

  width: 100%;
  .button_prev {
    // background: yellow;
    position: absolute;
    top: 45%;
    @include navigation_button();
    left: -80px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .button_next {
    position: absolute;
    top: 45%;
    @include navigation_button();
    right: -80px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  /* Your styles for this media query */
  .button_prev {
    @include navigation_button();
    left: -30px !important;
  }
  .button_next {
    @include navigation_button();
    right: -30px !important;
  }
}

.mobile {
  .navigation {
    // padding: 20px  0 ;
    margin: 50px auto ;
    display: flex;
    justify-content: space-between;
    width: 320px;


    .nav_prev , .nav_next {
      // @include navigation_button()
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 12px;
      background: #fff;
      // box-shadow: 0px 0px 40px -5px #e6ebf0;
      box-shadow: 0px 0px 30px 3px #e6ebf0;
      border: none;
    }
  }
}
